[Settings]
TowerAPI = {{ tower_api }}
TowerURL = {{ tower_url }}
TowerInterface = {{ tower_interface }}
TowerCall = {{ tower_call }}
TowerCert = {{ tower_cert }}
Interval = {{ interval }}
JobTemplateID = {{ job_template_id }}
HostConfigKey = {{ host_config_key }}
Username = {{ username }}
Password = {{ password }}
